*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    list-style: none;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, red , blue);
}
ul{
    position: relative;
    display: flex;
    gap: 25px;
    font-size: 44px;
    cursor: pointer;
    color: #fff;
}
ul li{
    position: relative;
    filter: blur(5px);
    padding: 0 5px;
    transition: 0.5s ;
}
ul li:hover{
    filter:blur(0);
    transition: 0;
}
h2 li i {
    position: absolute;
    inset: 0;
    background: transparent;
}
li:hover i::before{
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 2px;
    height:8px;
    background-color: #fff;
    box-shadow: 0 53px #fff, 36px 53px #FFF, 36px 0 #fff ;
}
li:hover i::after{
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 8px;
    height:2px;
    background-color: #fff;
    box-shadow: 0 60px #fff, 30px 60px  #FFF, 30px 0 #FFF ;
    background-color: #FFF;
}